<%- include ('../base_files/header.ejs') %>
<div class="b-2 bg-dark text-success p-3"><h1>Employee Management Admin Page</h1></div>
<div class="p-2 col-12"><h4>
    <div class="col-5 inline">WelCome, UserName</div> <div class="col-5 inline"><button class="btn ">hello</button> <button class="btn ">hello</button></div>
</h4></div>




<%- include ('../base_files/footer.ejs') %>

