{% extends "base.html" %}


{% block basefile %}

{% if messeges %}
{% for messege in messeges%}
{% if messege.tags == "success"%}
<div class="alert alert-success" role="alert">
	{{messege}}
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="alert alert-danger m-0 p-0" role="alert">
	
{% for error in regformdata.first_name.errors %}<p><stong>First name Errors : </strong>{{error | striptags}}</p>{% endfor %}
{% for error in regformdata.last_name.errors %}<p><stong>Last name Errors</strong>{{error | striptags}}</p>{% endfor %}
{% for error in regformdata.username.errors %}<p><stong>Username Errors : </strong>{{error | striptags}}</p>{% endfor %}
{% for error in regformdata.email.errors %}<p><stong>Email Errors : </strong>{{error | striptags}}</p>{% endfor %}
{% for error in regformdata.password1.errors %}<p><stong>Password Errors : </strong>{{error | striptags}}</p>{% endfor %}
{% for error in regformdata.password2.errors %}<p><stong>rePassword Errors : </strong>{{error | striptags}}</p>{% endfor %}

</div>


<main class="form-signin bg-light vh-100 text-start  d-flex justify-content-center ">
	<form method='post' autocomplete="off" class="w-50 m-auto" novalidate>
		{% csrf_token %}
		{{ regformdata.non_field_errors}}
		<h1 class="h3 fw-semibold mb-3 mt-3 ">Register To Server</h1>
		<div class="row g-3">
			<div class="col-sm-6 mb-3">
				<label for="firstName" class="form-label">First name</label>
				{{regformdata.first_name}}

			</div>

			<div class="col-sm-6 mb-3">
				<label for="lastName" class="form-label">Last name</label>
				{{regformdata.last_name}}
			</div>
		</div>

		<div class="row g-3">
			<div class="col-sm-6 mb-3">
				<label for="userId" class="form-label">UserId</label>
				{{regformdata.username}}<br>


			</div>

			<div class="col-sm-6 mb-3">
				<label for="email" class="form-label">Email Address</label>
				{{regformdata.email}}<br>

			</div>
		</div>
		<div class="row g-3">
			<div class="col-sm-6 mb-3">
				<label for="password1" class="form-label">Password</label>
				{{regformdata.password1}}<br>
			</div>

			<div class="col-sm-6 mb-3">
				<label for="password2" class="form-label">Password(again)</label>
				{{regformdata.password2}}<br>
			</div>
		</div>

		<input class="w-100 btn btn-lg btn-primary" type="submit" value="Register">

		<h5 class=" my-3 ">If, already register, <a href="{% url 'homepage' %}" class="text-decoration-none">login</a>
		</h5>
	</form>
</main>









{% endblock basefile %}